/* Global */
body {
    padding: 25px;
}

/* Utilities */
.seperator {
    padding-top: 40px;
}

/* Header */
.flex-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.profile-img {
    width: 100px;
    border-radius: 50%;
    image-rendering: pixelated;
}

/* About Me */
.about-me-section {
    width: 95%
}

/* Skills */
.skill-section {
    width: 85%
}
.nes-btn {
    margin-top: 9px;
}

/* Dialog */
.nes-dialog {
    width: 500px;
    text-align: center;
}
.dialog-menu {
    margin: 0 auto;
    padding: 0px;
}
.skill-box {
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

/* Resume Download */
.message-box {
    position: absolute;
    right: 22px;
    bottom: 99px;
}
.character {
    position: absolute;
    right: 7px;
    bottom: 6px;
}